@import "../../styles/config";

.filter-container {
  width: 100%;
  position: relative;
  .filter {
    position: absolute;
    right: 0;
    width: 35%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .filter-dark {
    background-color: $dark_mode_elements;
    color: $dark_mode_txt;
  }
  .filter-light {
    background-color: $light_mode;
    color: $light_mode_txt;
  }
}

@media screen and (max-width: 700px) {
  .filter {
    width: 57;
  }
}
