@import "./styles/config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.light-mode {
  color: $light_mode_txt;
  background-color: $light_mode;
}

.dark-mode {
  color: $dark_mode_txt;
  background-color: $dark_mode;
}

a {
  text-decoration: none;
  color: initial;
}
