@import "./styles/config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

.light-mode {
  color: $light_mode_txt;
  background-color: $light_mode;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}

.dark-mode {
  color: $dark_mode_txt;
  background-color: $dark_mode;
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}

a {
  text-decoration: none;
  color: initial;
}

.loading-error {
  height: 100vh;
  h2 {
    margin-top: 100px;
    text-align: center;
  }
}
